---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

export interface Props {
    product: {
        name: string;
        price: number;
        imageUrl: ImageMetadata | string;
        imageAlt: string;
    }
}

const { product } = Astro.props;
---
<div class="bg-white rounded-lg overflow-hidden shadow-xl transform hover:-translate-y-2 transition-transform duration-300">
    <a href="/producto/id-del-producto">
        {typeof product.imageUrl === 'string' ?
            <img class="w-full h-48 object-cover" src={product.imageUrl} alt={product.imageAlt} /> :
            <Image class="w-full h-48 object-cover" src={product.imageUrl} alt={product.imageAlt} />
        }
        <div class="p-4">
            <h3 class="text-lg font-bold text-secondary">{product.name}</h3>
            <p class="mt-2 text-xl font-black text-primary">${product.price.toLocaleString('es-AR')}</p>
            <button class="mt-4 w-full bg-primary text-light font-bold py-2 px-4 rounded-lg hover:bg-opacity-80 transition-colors duration-300">
                Agregar al Carrito
            </button>
        </div>
    </a>
</div>